:root {
    --black: #000000;
    --white: #FFFFFF;
    --orange: #F5841F;
    --brown: #340E0E;
    --navy: #16213C;
    --bluetext: #2D4275;
    --lightblue: #8ECAE6;
    --lighterblue: #F1F8FC;
    --gray: #D9D9D9;
    --lightergray: #EFEFEF;
    --evenlightergray: #F8F8F8;
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
}

.header__top {
    background-color: var(--lightergray);
    display: flex;
    justify-content: space-between;
    padding: .5em;
    font-weight: bold;
}

.ico_cislo {
    background: url(../icons/header_telefon.svg) left center no-repeat;
    padding-left: 20px;
}

.ico_cislo--margin {
    background: url(../icons/header_telefon.svg) left center no-repeat;
    padding-left: 20px;
}

.ico_email {
    background: url(../icons/header_obalka.svg) left center no-repeat;
    padding-left: 20px;
    margin-left: .5em;
}

.ico_email--margin {
    background: url(../icons/header_obalka.svg) left center no-repeat;
    padding-left: 20px;
    margin-left: 0em;
}

.ico_prihlaseni {
    background: url(../icons/header_prihlaseni.svg) left center no-repeat;
    padding-left: 30px;
    padding-top: 1px;
}

.ico_yt {
    background: url(../icons/footer_youtube.svg) left center no-repeat;
    /* font-size: 0; */
    padding-left: 20px;
}

.ico_in {
    background: url(../icons/footer_linkedin.svg) left center no-repeat;
    /* font-size: 0; */
    padding-left: 20px;
    margin-left: .5em;
}

.navigace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigace__logoipsum {
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
    order: 1;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
    color: var(--navy);
}

h4 {
    font-weight: 800;
    font-size: 22px;
    color: var(--navy);
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: var(--navy);
    text-align: center;
}

.bold {
    font-weight: 800;
    font-size: larger;
    color: var(--navy)
}

.orange_text {
    color: var(--orange);
}

.main_top {
    text-align: center;
    margin: 2em 2em;
    margin-top: -8em;
}

.img_div {
    margin: 2em 1.5em;
}

.img {
    width: 100%;
    display: block;
    border-radius: 30px;
}

.main_top__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .main_top__ul {
    list-style: none;
}

.main_top__ul li::before {
    content: url(../icons/main_checkmark.svg);
}

.button {
    background-color: var(--orange);
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 12px 24px;
    font-weight: 700;
}

.button__nav {
    order: 2;
    margin-left: 12.5em;
    text-align: center;
    padding: 10px 13px;
}

.button > a {
    color: var(--white);
}

.button_center {
    margin: 0 auto;
}

.slider {
    display: flex;
    margin: 2em;
    flex-direction: row;
    margin: 2em;
    gap: .5em;
}

.vyhody {
    background-color: var(--lighterblue);
    padding: 1em 0em;
}

.vyhody > div > h2 {
    text-align: center;
    color: var(--navy)
}

.vyhody_list__item > a > p {
    font-weight: 700;
    color: var(--bluetext);
    margin: 1em;
}

.vyhody_list {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0 auto;
}

.vyhody_list__circle {
    background-color: var(--navy);
    border-radius: 50%;
    padding: 2em;
}

.vyhody_list__item {
    text-align: center;
}

.dashed_line {
    border: 1px dashed var(--lightblue);
    width: 50vw;
    margin: 0 auto;
}

.funkce__h1 {
    margin-top: -2em;
    margin-left: .5em;
}

.bily_obdelnik {
    width: 304px;
    height: 200px;
    background-color: var(--white);
    border-radius: 8px;
    filter: drop-shadow(10px 10px 4px var(--lightergray));
    overflow: hidden;
    padding: 0em 1em;
    margin: 1em auto;
}

.fce {
    margin: 2em 0;
}

.pribeh {
    text-align: center;
    margin: 0em 1em;
}

.clanek {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

.clanek__txt {
    margin-left: 1em;
}

.clanek__male_pismo {
    font-style: italic;
    font-size: smaller;
}

.aktuality__item {
    background: url(../icons/komentar1.svg);
    background-repeat: no-repeat;
    padding-left: 80px;
    margin: 2em;
}

.line {
    border: 1px solid var(--lightblue);
    opacity: 20%;
}

footer {
    background-color: var(--navy);
    padding: 1.5em;
    color: var(--white);
}

footer a {
    color: var(--lightblue);
} 

footer p {
    color: var(--lightblue);
} 

.footer__h4 {
    margin: 0;
    color: var(--lightblue);
}

.footer__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.footer__box {
    flex-grow: 1;
    margin: 1em;
    max-width: 180px;
}

.footer__ul {
    list-style-type: none;
    padding: 0;
}


.kontakt_top__mail {
    background: url(../icons/email.svg) left center no-repeat;
    padding-left: 20px;
}

.kontakt_top__cislo {
    background: url(../icons/telephone.svg) left center no-repeat;
    padding-left: 20px;
}

.kontakt_top__adresa {
    background: url(../icons/People\ in\ circle.svg) left center no-repeat;
    padding-left: 20px;
}